@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/ProximaNova-Extrabld.ttf');
  font-weight: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: 'Proxima Nova', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}
